[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
opencv-python = "*"
mss = "*"
pillow = "*"
numpy = "*"
pika = "*"
discord-py = {extras = ["voice"], version = "*"}
python-dotenv = "*"

[requires]
python_version = "3.8"
